<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.User" >
    <constructor >
      <idArg column="u_idu_" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="u_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="u_pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="u_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="brithday" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="animation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="u_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    u_idu_, u_name, u_pwd, u_sex, brithday, animation, u_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where u_idu_ = #{uIdu,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where u_idu_ = #{uIdu,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.User" >
    insert into t_user (u_idu_, u_name, u_pwd, 
      u_sex, brithday, animation, 
      u_phone)
    values (#{uIdu,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPwd,jdbcType=VARCHAR}, 
      #{uSex,jdbcType=VARCHAR}, #{brithday,jdbcType=TIMESTAMP}, #{animation,jdbcType=VARCHAR}, 
      #{uPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uIdu != null" >
        u_idu_,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uPwd != null" >
        u_pwd,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="brithday != null" >
        brithday,
      </if>
      <if test="animation != null" >
        animation,
      </if>
      <if test="uPhone != null" >
        u_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uIdu != null" >
        #{uIdu,jdbcType=INTEGER},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null" >
        #{brithday,jdbcType=TIMESTAMP},
      </if>
      <if test="animation != null" >
        #{animation,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.User" >
    update t_user
    <set >
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        u_pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null" >
        brithday = #{brithday,jdbcType=TIMESTAMP},
      </if>
      <if test="animation != null" >
        animation = #{animation,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        u_phone = #{uPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where u_idu_ = #{uIdu,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.User" >
    update t_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_pwd = #{uPwd,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      brithday = #{brithday,jdbcType=TIMESTAMP},
      animation = #{animation,jdbcType=VARCHAR},
      u_phone = #{uPhone,jdbcType=VARCHAR}
    where u_idu_ = #{uIdu,jdbcType=INTEGER}
  </update>
</mapper>